#ignore ptx files
*.ptx

#ignore tmp files
*.swp

#ignore fig files
*.fig

#ignore mat files
*.mat

#ignore img and video files
*.jpg
*.png
*.eps
*.avi
*.gif

#ignore all output from system
*.o1*
*.e1*

#ignore excutable files
*.o

#ignore mex files
*.mexa64
*.mexmaci64
